*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 15vh;
    /* background-color: red; */
    padding:0 12rem 0 10rem;
}

img{
    width: auto;
    height: 12vh;
}
 
ul{
    display: flex;
    align-items: center;
    gap:1.7rem;                         
    /* background-color: yellow;    */
}

li{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    list-style: none;
    gap:.3rem
}
.arrow-btn{
    margin-top: .3rem;
}
.button{
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1rem 2.5rem;
    border: 1.8px solid black;
    border-radius: .2rem;
}
.menu{
    display: none;
}
  

@media only screen and (max-width: 600px) {

    nav{
       
        width: 100vw;
        height: 12vh;
        background-color: red;
        padding:0 1rem;
    }

    .button{
        font-size: 1.3rem;
        font-weight: 600;
        padding: 1rem 1.1rem;
        border: 1.8px solid black;
        border-radius: .2rem;
    }
    .menu{
        display: flex;
        font-size: 2rem;
    }
     
    img{
        width: auto;
        height: 6vh;
    }
   

    li{
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    li{
       display: none;
    }

    .menu{
        display: flex;
        font-size: 2rem;
    }
}


@media only screen and (min-width: 1200px) {
    li{
       display: flex;
    }

    .menu{
      display: none;
    }
}